type: "MARKDOWN_NOTE"
folder: "b9a5e5e3b6a080f2db61"
title: "Welcome to Boostnote :)"
content: '''
  # Welcome to Boostnote :)
  This is a markdown note.
  
  Click to edit this note.
'''
tags: [
  "gfdg"
]
isStarred: false
createdAt: "2017-06-10T16:03:04.121Z"
updatedAt: "2017-06-10T16:04:40.747Z"
