type: "MARKDOWN_NOTE"
content: '''
  Componente con styles y templates inline
  
  Generar componente con angular-cli con styles y template inline
  
  ```
  ng generate component hello --inline-style --inline-template
  ```
'''
title: "Componente con styles y templates inline"
folder: "3e28bcd5935349e72948"
createdAt: "2017-06-10T21:49:58.919Z"
updatedAt: "2017-06-10T21:53:51.412Z"
isStarred: false
tags: [
  "angular-cli"
]
