type: "MARKDOWN_NOTE"
folder: "3e28bcd5935349e72948"
title: "FormBuilder"
content: '''
  FormBuilder
  
  It’s essentially syntax sugar that creates FormGroup, FormControl and FormArray instances for us.
  
  https://github.com/aitoribanez/ng2-reactive-form
'''
tags: []
isStarred: false
createdAt: "2017-06-10T22:02:08.863Z"
updatedAt: "2017-06-10T22:02:44.130Z"
