type: "SNIPPET_NOTE"
folder: "3e28bcd5935349e72948"
title: "EventEmitter"
description: '''
  EventEmitter
  
  Se usa con @Output y sirve para pasar datos del componente hijo (child component) al componente padre (parent component). En el parent component se define un @Output como EventEmitter. Dentro de una funcion de ese mismo componente se llama a this.[@Output].emit('Send message'). Inmediatamente, le llega esa data al parent component dentro de ([@Output])="parentComponentMethod()"
'''
snippets: [
  {
    name: "person-input.component.html"
    mode: "HTML"
    content: '''
      <button (click)="add(personName)">Add person</button>
      
    '''
  }
  {
    name: "people-input.component.ts"
    mode: "TypeScript"
    content: '''
      @Output() notify = new EventEmitter();
       
       add(personInput) {
          this.notify.emit('send message to parent')
        }
      
    '''
  }
  {
    name: "app.component.html"
    mode: "HTML"
    content: '''
      <person-input 
        (addPerson)="addPerson($event)"
        (notify)="notify($event)">
      </person-input>
    '''
  }
  {
    name: "app.component.ts"
    mode: "TypeScript"
    content: '''
      notify(data) {
        console.log('data', data)
      }
    '''
  }
]
tags: [
  "basico"
]
isStarred: false
createdAt: "2017-06-10T21:55:02.480Z"
updatedAt: "2017-06-10T22:00:22.788Z"
